*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
.search{
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}
.search .content{
    color: #fff;
    position: relative;
    z-index: 2;
}
.search h1{
    font-size: 2.65rem;
    font-weight: 60px;
}
.search p{
    font-size: 1.5rem;
    font-weight: 8px;
}
.search .search-box{
    height: 55px;
    margin: 45px 0;
    position: relative;
}
input , button ,i{
    outline: none;
    border: none;
    border-radius: 5px;
    
}

.search-box input{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-left: 55px;
}
.search-box i{
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 1.5rem;
    color: #8d8d8d;
    transform: translateY(-50%);
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .images{

    gap: 15px;
    columns: 5 340px;
    margin-top: 40px;
    max-width: 95%;
}
.images .card{
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    position: relative;
    display: flex;
    overflow: hidden;
}
.images img{
    width: 100%;
}


.gallery .load-more{
    margin: 40px 0;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    padding: 12px 27px;
    background: #8a6cff;

}



.images .card .details{
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: absolute;
    bottom: -100px;
    width: 100%;
    padding: 15px 20px;
    transition: buttom 0.1s ease;
    background: linear-gradient(to top,rgba(0,0,0,0.7), transparent);
}

.images .card:hover .details{
    bottom: 0;

}
.card .details .photographer{
    color: #fff;
    display: flex;
    align-items: center;
}
.details .photographer i{
    font-size: 1.4rem;
    margin-right: 10px;

}

.details .photographer span{
    font-size: 1.05rem;
}

.card .detail button{
    cursor: pointer;
    padding: 3px 8px;
    font-size: 1.1rem;
    background: #fff;

}








.lightbox{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    display: none;

}
.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .photographer i{
    font-size: 1.7rem;

}
header .photographer span{
    font-size: 1.2rem;
}
.lightbox .wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 5px;
    max-width: 850px;
    width: 100%;
    padding: 20px;

}

.preview-img{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wrapper .preview-img .img{
    max-height: 65vh;
    max-width: 90vh;
}

.preview-img .img img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}


header .photographer{
    color: #333;
}


header .buttons i{
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 1.2rem;
    background: #8a6cff;
    color: #fff;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

}

.buttons i:last-child{
    margin-left: 10px;
    background: #6c757d;
}
































